<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        {% for item in fruit_list %}
            {% if item not in hate%}
                {% if item|length >= 2%}
                    {% if item|length > 3%}
                        <p>{{item|truncatechars:"3"}}</p>
                    {% else %}
                        <p>{{item}}</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
</body>
</html>