<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>catch! I catch {{ message }}!</p>

    <form action="/third/" method="GET">
        <label for="throw_text1">throw!</label>
        <input type="text" id='throw_text1' name='message1'>
        <label for="throw_text2">twice!</label>
        <input type="text" id='throw_text2' name='message2'>
        <input type="submit">
    </form>
</body>
</html>