{% extends 'base.html' %}

{% block content %}
  <h1>INDEX PAGE</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for movie in movies %}
      <div class="col">
        <div class="card h-100">
          <h5 class="card-header">{{ movie.title }}</h5>
          <div class="card-body">
            <p class="card-text">{{ movie.description }}</p>
            <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-primary">Detail</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
