<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} <p>catch : {{ message }} 을/를 받음!</p> {% endcomment %}
    <p>catch : {% if message %}{{message}}을/를 받음!{% else %}아무것도 받지 않음{% endif %}</p>
    <form action="/throw_catch/second/" method = "GET">
    <label for="message">throw : </label>
    <input type="text" id="message" name="message">
    <input type="submit" value="휙">
    </form>
</body>
</html>